syntax: glob

# Ignore build files
build/CMakeFiles/*
build/CMakeCache.txt
build/Makefile
build/TestStack
build/TestTerminate
build/cmake_install.cmake
build/install_manifest.txt
build/lib/*
build/bin/*
build/doc/*
build/include/*
build/libstacktrace.a
build/FindStackTrace.cmake
build/DartConfiguration.tcl
build/CTestTestfile.cmake
build/Testing
build/cppcheck
build/cppclean
build/compile_commands.json
build/ExampleStack.txt
build/CMakeDoxyfile.in
build/CMakeDoxygenDefaults.cmake
build/Doxyfile
build/TestUtilities


